<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload</title>
  </head>
  <body>
    <form action="">
      Enter quiz name: <input type="text" name="quizname" /><br />

      Enter question1: <input type="text" name="quizname" /><br />
      Enter solution: <input type="text" name="quizname" /><br />
      Enter wrong answer1: <input type="text" name="quizname" /><br />
      Enter wrong answer2: <input type="text" name="quizname" /><br />
      Enter wrong answer3: <input type="text" name="quizname" /><br />

      Enter question2: <input type="text" name="quizname" /><br />
      Enter solution: <input type="text" name="quizname" /><br />
      Enter wrong answer1: <input type="text" name="quizname" /><br />
      Enter wrong answer2: <input type="text" name="quizname" /><br />
      Enter wrong answer3: <input type="text" name="quizname" /><br />

      Enter question3: <input type="text" name="quizname" /><br />
      Enter solution: <input type="text" name="quizname" /><br />
      Enter wrong answer1: <input type="text" name="quizname" /><br />
      Enter wrong answer2: <input type="text" name="quizname" /><br />
      Enter wrong answer3: <input type="text" name="quizname" /><br />

      Enter question4: <input type="text" name="quizname" /><br />
      Enter solution: <input type="text" name="quizname" /><br />
      Enter wrong answer1: <input type="text" name="quizname" /><br />
      Enter wrong answer2: <input type="text" name="quizname" /><br />
      Enter wrong answer3: <input type="text" name="quizname" /><br />

      Enter question5: <input type="text" name="quizname" /><br />
      Enter solution: <input type="text" name="quizname" /><br />
      Enter wrong answer1: <input type="text" name="quizname" /><br />
      Enter wrong answer2: <input type="text" name="quizname" /><br />
      Enter wrong answer3: <input type="text" name="quizname" /><br />

      Enter question6: <input type="text" name="quizname" /><br />
      Enter solution: <input type="text" name="quizname" /><br />
      Enter wrong answer1: <input type="text" name="quizname" /><br />
      Enter wrong answer2: <input type="text" name="quizname" /><br />
      Enter wrong answer3: <input type="text" name="quizname" /><br />

      Enter question7: <input type="text" name="quizname" /><br />
      Enter solution: <input type="text" name="quizname" /><br />
      Enter wrong answer1: <input type="text" name="quizname" /><br />
      Enter wrong answer2: <input type="text" name="quizname" /><br />
      Enter wrong answer3: <input type="text" name="quizname" /><br />

      Enter question8: <input type="text" name="quizname" /><br />
      Enter solution: <input type="text" name="quizname" /><br />
      Enter wrong answer1: <input type="text" name="quizname" /><br />
      Enter wrong answer2: <input type="text" name="quizname" /><br />
      Enter wrong answer3: <input type="text" name="quizname" /><br />

      Enter question9: <input type="text" name="quizname" /><br />
      Enter solution: <input type="text" name="quizname" /><br />
      Enter wrong answer1: <input type="text" name="quizname" /><br />
      Enter wrong answer2: <input type="text" name="quizname" /><br />
      Enter wrong answer3: <input type="text" name="quizname" /><br />

      Enter question10: <input type="text" name="quizname" /><br />
      Enter solution: <input type="text" name="quizname" /><br />
      Enter wrong answer1: <input type="text" name="quizname" /><br />
      Enter wrong answer2: <input type="text" name="quizname" /><br />
      Enter wrong answer3: <input type="text" name="quizname" /><br />

      <input type="submit" />
    </form>
  </body>
</html>
